
<div class="containerChat d-flex justify-content-xl-center">
    <div class="card flex-fill">
        <div class="card-header">
            Usuario: Pepe
        </div>
        <div class="card-body">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="textoChatPepe"></textarea>
                <label for="floatingTextarea2">Mensaje</label>
                <button type="button" class="btn btn-primary" (click)="guardarMensajePepe()">Guardar</button>
            </div>
        </div>
    </div>
    <div class="card flex-fill">
        <div class="card-header">
            Usuario: Maria
        </div>
        <div class="card-body">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="textoChatMaria"></textarea>
                <label for="floatingTextarea2">Mensaje</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="guardarMensajeMaria()">Guardar</button>
        </div>
    </div>
</div>